*.log
*.swp
.DS_Store
.ReAuth.cfg
.mixin.out/
backups/
crash-reports/
fonts/
installers
installers/
journeymap/data
logs/
options.txt
realms_persistence.json
saves/
server/
servers.dat
usercache.json
usernamecache.json
