// JourneyMap configuration file. Modify at your own risk!
// To use in all worlds, place here: journeymap/config/5.5/
// For more information, go to: http://journeymap.info/Options_Manager
{
  "enabled": "true",
  "shape": "Rectangle",
  "position": "TopCenter",
  "showDayNight": "false",
  "info1Label": "Blank",
  "info2Label": "Blank",
  "info3Label": "Location",
  "info4Label": "Biome",
  "sizePercent": "100",
  "frameAlpha": "0",
  "terrainAlpha": "15",
  "orientation": "North",
  "compassFontScale": "2",
  "showCompass": "false",
  "showReticle": "true",
  "reticleOrientation": "PlayerHeading",
  "active": false,
  "playerDisplay": "LargeIcons",
  "showPlayerHeading": "true",
  "mobDisplay": "LargeIcons",
  "showMobHeading": "false",
  "showMobs": "false",
  "showAnimals": "false",
  "showVillagers": "false",
  "showPets": "false",
  "showPlayers": "true",
  "fontScale": "2",
  "showWaypointLabels": "true",
  "locationFormatVerbose": "false",
  "locationFormat": "xzyv",
  "showWaypoints": "true",
  "showSelf": "true",
  "showGrid": "false",
  "showCaves": "false",
  "showEntityNames": "false",
  "preferredMapType": "day",
  "zoomLevel": "0",
  "configVersion": "5.5.2"
}